openapi: 3.2.0
info:
  title: LifeMine Careers API (Greenhouse Job Board) Education API
  version: v1
  summary: Anonymous read API over LifeMine's open roles, departments and offices.
  description: LifeMine hosts its careers surface on Greenhouse under the board token `lifeminetx` (https://job-boards.greenhouse.io/lifeminetx).
  contact:
    name: LifeMine
    url: https://lifeminetx.com/contact/
  x-derived-from:
  - https://developers.greenhouse.io/job-board.html
  - https://boards-api.greenhouse.io/v1/boards/lifeminetx
  x-derived-on: '2026-08-04'
  x-derived-by: API Evangelist enrichment pipeline (0-working/pipeline-enrich.md)
  x-not-a-provider-published-spec: true
  x-hosted-by: Greenhouse Software, Inc.
servers:
- url: https://boards-api.greenhouse.io/v1/boards/lifeminetx
  description: LifeMine's Greenhouse job board (board token lifeminetx)
security: []
tags:
- name: Education
  description: Greenhouse education reference data used by application forms.
paths:
  /education/degrees:
    get:
      operationId: listEducationDegrees
      summary: List degree reference data
      description: Greenhouse's degree picklist used by the application form.
      tags:
      - Education
      parameters:
      - $ref: '#/components/parameters/Term'
      - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: Degree items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EducationItems'
  /education/disciplines:
    get:
      operationId: listEducationDisciplines
      summary: List discipline reference data
      tags:
      - Education
      parameters:
      - $ref: '#/components/parameters/Term'
      - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: Discipline items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EducationItems'
  /education/schools:
    get:
      operationId: listEducationSchools
      summary: List school reference data
      tags:
      - Education
      parameters:
      - $ref: '#/components/parameters/Term'
      - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: School items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EducationItems'
components:
  schemas:
    EducationItems:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
                format: int64
              text:
                type: string
  parameters:
    Term:
      name: term
      in: query
      required: false
      description: Type-ahead filter term.
      schema:
        type: string
    Page:
      name: page
      in: query
      required: false
      description: Page of reference items.
      schema:
        type: string
externalDocs:
  description: Greenhouse Job Board API documentation
  url: https://developers.greenhouse.io/job-board.html
