openapi: 3.2.0
info:
  title: LifeMine Website Content API (WordPress REST) Comments API
  version: wp/v2
  summary: Anonymous read API over LifeMine's corporate site content.
  description: 'LifeMine (lifeminetx.com) runs on WordPress and exposes the WordPress REST API publicly and anonymously at https://lifeminetx.com/wp-json/. This document was DERIVED mechanically from that host''s own self-describing route index plus the per-resource JSON Schemas returned by HTTP OPTIONS on each collection - no path, parameter, type, default, enum or description here was authored by API Evangelist.


    This is a site-content API, not a scientific/drug-discovery product API: it serves press releases and publications (`posts`, 24 items), site pages, media (117 items), the leadership/team custom post type (`team`, 15 items) and its taxonomy, plus categories and tags. Read operations require no credentials; write operations require WordPress authentication (application password or cookie+nonce) and are not available to the public.


    Scope note: the live host also registers third-party plugin ADMIN namespaces (yoast/v1, wordfence/v1, wpe/cache-plugin/v1, wpe_sign_on_plugin/v1). Those are real but are vendor control planes rather than LifeMine''s content surface, so they are excluded from this document and recorded in conventions/lifemine-conventions.yml. The complete verbatim route index is preserved at openapi/_original/lifemine-wp-json-index.json.'
  contact:
    name: LifeMine
    url: https://lifeminetx.com/contact/
  x-derived-from: https://lifeminetx.com/wp-json/
  x-derived-on: '2026-08-04'
  x-derived-by: API Evangelist enrichment pipeline (0-working/pipeline-enrich.md)
  x-not-a-provider-published-spec: true
servers:
- url: https://lifeminetx.com/wp-json
  description: Production
security: []
tags:
- name: comments
paths:
  /wp/v2/comments:
    get:
      operationId: getWpV2Comments
      summary: GET /wp/v2/comments
      tags:
      - comments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Not authenticated / not permitted (`rest_forbidden`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found (`rest_no_route`, `rest_post_invalid_id`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: page
        in: query
        required: false
        description: Current page of the collection.
        schema:
          type: integer
          minimum: 1
          default: 1
      - name: per_page
        in: query
        required: false
        description: Maximum number of items to be returned in result set.
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 10
      - name: search
        in: query
        required: false
        description: Limit results to those matching a string.
        schema:
          type: string
      - name: after
        in: query
        required: false
        description: Limit response to comments published after a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: author
        in: query
        required: false
        description: Limit result set to comments assigned to specific user IDs. Requires authorization.
        schema:
          type: array
          items:
            type: integer
      - name: author_exclude
        in: query
        required: false
        description: Ensure result set excludes comments assigned to specific user IDs. Requires authorization.
        schema:
          type: array
          items:
            type: integer
      - name: author_email
        in: query
        required: false
        description: Limit result set to that from a specific author email. Requires authorization.
        schema:
          type: string
          format: email
      - name: before
        in: query
        required: false
        description: Limit response to comments published before a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: exclude
        in: query
        required: false
        description: Ensure result set excludes specific IDs.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: include
        in: query
        required: false
        description: Limit result set to specific IDs.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: offset
        in: query
        required: false
        description: Offset the result set by a specific number of items.
        schema:
          type: integer
      - name: order
        in: query
        required: false
        description: Order sort attribute ascending or descending.
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - name: orderby
        in: query
        required: false
        description: Sort collection by comment attribute.
        schema:
          type: string
          enum:
          - date
          - date_gmt
          - id
          - include
          - post
          - parent
          - type
          default: date_gmt
      - name: parent
        in: query
        required: false
        description: Limit result set to comments of specific parent IDs.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: parent_exclude
        in: query
        required: false
        description: Ensure result set excludes specific parent IDs.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: post
        in: query
        required: false
        description: Limit result set to comments assigned to specific post IDs.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: status
        in: query
        required: false
        description: Limit result set to comments assigned a specific status. Requires authorization.
        schema:
          type: string
          default: approve
      - name: type
        in: query
        required: false
        description: Limit result set to comments assigned a specific type. Requires authorization.
        schema:
          type: string
          default: comment
      - name: password
        in: query
        required: false
        description: The password for the post if it is password protected.
        schema:
          type: string
    post:
      operationId: createWpV2Comments
      summary: POST /wp/v2/comments
      tags:
      - comments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Not authenticated / not permitted (`rest_forbidden`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found (`rest_no_route`, `rest_post_invalid_id`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                author:
                  type: integer
                  description: The ID of the user object, if author was a user.
                author_email:
                  type: string
                  format: email
                  description: Email address for the comment author.
                author_ip:
                  type: string
                  format: ip
                  description: IP address for the comment author.
                author_name:
                  type: string
                  description: Display name for the comment author.
                author_url:
                  type: string
                  format: uri
                  description: URL for the comment author.
                author_user_agent:
                  type: string
                  description: User agent for the comment author.
                content:
                  type: object
                  description: The content for the comment.
                date:
                  type: string
                  format: date-time
                  description: The date the comment was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the comment was published, as GMT.
                parent:
                  type: integer
                  default: 0
                  description: The ID for the parent of the comment.
                post:
                  type: integer
                  default: 0
                  description: The ID of the associated post object.
                status:
                  type: string
                  description: State of the comment.
                meta:
                  type: object
                  description: Meta fields.
      security:
      - applicationPassword: []
      - cookieNonce: []
  /wp/v2/comments/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: Path segment `id` (WordPress route pattern).
    get:
      operationId: getWpV2CommentsById
      summary: GET /wp/v2/comments/{id}
      tags:
      - comments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Not authenticated / not permitted (`rest_forbidden`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found (`rest_no_route`, `rest_post_invalid_id`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: password
        in: query
        required: false
        description: The password for the parent post of the comment (if the post is password protected).
        schema:
          type: string
    post:
      operationId: createWpV2CommentsById
      summary: POST /wp/v2/comments/{id}
      tags:
      - comments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Not authenticated / not permitted (`rest_forbidden`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found (`rest_no_route`, `rest_post_invalid_id`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                author:
                  type: integer
                  description: The ID of the user object, if author was a user.
                author_email:
                  type: string
                  format: email
                  description: Email address for the comment author.
                author_ip:
                  type: string
                  format: ip
                  description: IP address for the comment author.
                author_name:
                  type: string
                  description: Display name for the comment author.
                author_url:
                  type: string
                  format: uri
                  description: URL for the comment author.
                author_user_agent:
                  type: string
                  description: User agent for the comment author.
                content:
                  type: object
                  description: The content for the comment.
                date:
                  type: string
                  format: date-time
                  description: The date the comment was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the comment was published, as GMT.
                parent:
                  type: integer
                  description: The ID for the parent of the comment.
                post:
                  type: integer
                  description: The ID of the associated post object.
                status:
                  type: string
                  description: State of the comment.
                meta:
                  type: object
                  description: Meta fields.
      security:
      - applicationPassword: []
      - cookieNonce: []
    put:
      operationId: updateWpV2CommentsById
      summary: PUT /wp/v2/comments/{id}
      tags:
      - comments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Not authenticated / not permitted (`rest_forbidden`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found (`rest_no_route`, `rest_post_invalid_id`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                author:
                  type: integer
                  description: The ID of the user object, if author was a user.
                author_email:
                  type: string
                  format: email
                  description: Email address for the comment author.
                author_ip:
                  type: string
                  format: ip
                  description: IP address for the comment author.
                author_name:
                  type: string
                  description: Display name for the comment author.
                author_url:
                  type: string
                  format: uri
                  description: URL for the comment author.
                author_user_agent:
                  type: string
                  description: User agent for the comment author.
                content:
                  type: object
                  description: The content for the comment.
                date:
                  type: string
                  format: date-time
                  description: The date the comment was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the comment was published, as GMT.
                parent:
                  type: integer
                  description: The ID for the parent of the comment.
                post:
                  type: integer
                  description: The ID of the associated post object.
                status:
                  type: string
                  description: State of the comment.
                meta:
                  type: object
                  description: Meta fields.
      security:
      - applicationPassword: []
      - cookieNonce: []
    patch:
      operationId: patchWpV2CommentsById
      summary: PATCH /wp/v2/comments/{id}
      tags:
      - comments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Not authenticated / not permitted (`rest_forbidden`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found (`rest_no_route`, `rest_post_invalid_id`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                author:
                  type: integer
                  description: The ID of the user object, if author was a user.
                author_email:
                  type: string
                  format: email
                  description: Email address for the comment author.
                author_ip:
                  type: string
                  format: ip
                  description: IP address for the comment author.
                author_name:
                  type: string
                  description: Display name for the comment author.
                author_url:
                  type: string
                  format: uri
                  description: URL for the comment author.
                author_user_agent:
                  type: string
                  description: User agent for the comment author.
                content:
                  type: object
                  description: The content for the comment.
                date:
                  type: string
                  format: date-time
                  description: The date the comment was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the comment was published, as GMT.
                parent:
                  type: integer
                  description: The ID for the parent of the comment.
                post:
                  type: integer
                  description: The ID of the associated post object.
                status:
                  type: string
                  description: State of the comment.
                meta:
                  type: object
                  description: Meta fields.
      security:
      - applicationPassword: []
      - cookieNonce: []
    delete:
      operationId: deleteWpV2CommentsById
      summary: DELETE /wp/v2/comments/{id}
      tags:
      - comments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Not authenticated / not permitted (`rest_forbidden`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found (`rest_no_route`, `rest_post_invalid_id`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: force
        in: query
        required: false
        description: Whether to bypass Trash and force deletion.
        schema:
          type: boolean
          default: false
      - name: password
        in: query
        required: false
        description: The password for the parent post of the comment (if the post is password protected).
        schema:
          type: string
      security:
      - applicationPassword: []
      - cookieNonce: []
components:
  schemas:
    WPError:
      type: object
      description: WordPress REST API error envelope (not RFC 9457). Observed live on this host.
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. rest_forbidden.
        message:
          type: string
          description: Human-readable message.
        data:
          type: object
          properties:
            status:
              type: integer
      required:
      - code
      - message
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: WordPress Application Passwords (RFC 7617 Basic). Route /wp/v2/users/{user_id}/application-passwords is registered on this host. Write access only; not issued to the public.
    cookieNonce:
      type: apiKey
      in: header
      name: X-WP-Nonce
      description: WordPress cookie authentication with an X-WP-Nonce header (first-party browser context only). Advertised in Access-Control-Allow-Headers on this host.
externalDocs:
  description: WordPress REST API Handbook (the upstream specification this host implements)
  url: https://developer.wordpress.org/rest-api/
