openapi: 3.2.0
info:
  title: LifeMine Website Content API (WordPress REST) Widget Types…
  version: wp/v2
  summary: Anonymous read API over LifeMine's corporate site content.
  description: LifeMine (lifeminetx.com) runs on WordPress and exposes the WordPress REST API publicly and anonymously at https://lifeminetx.com/wp-json/.
  contact:
    name: LifeMine
    url: https://lifeminetx.com/contact/
  x-derived-from: https://lifeminetx.com/wp-json/
  x-derived-on: '2026-08-04'
  x-derived-by: API Evangelist enrichment pipeline (0-working/pipeline-enrich.md)
  x-not-a-provider-published-spec: true
servers:
- url: https://lifeminetx.com/wp-json
  description: Production
security: []
tags:
- name: widget types
paths:
  /wp/v2/widget-types:
    get:
      operationId: getWpV2WidgetTypes
      summary: GET /wp/v2/widget-types
      tags:
      - widget types
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Not authenticated / not permitted (`rest_forbidden`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found (`rest_no_route`, `rest_post_invalid_id`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
  /wp/v2/widget-types/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: Path segment `id` (WordPress route pattern).
    get:
      operationId: getWpV2WidgetTypesById
      summary: GET /wp/v2/widget-types/{id}
      tags:
      - widget types
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Not authenticated / not permitted (`rest_forbidden`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found (`rest_no_route`, `rest_post_invalid_id`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
  /wp/v2/widget-types/{id}/encode:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: Path segment `id` (WordPress route pattern).
    post:
      operationId: createWpV2WidgetTypesByIdEncode
      summary: POST /wp/v2/widget-types/{id}/encode
      tags:
      - widget types
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Not authenticated / not permitted (`rest_forbidden`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found (`rest_no_route`, `rest_post_invalid_id`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                instance:
                  type: object
                  description: Current instance settings of the widget.
                form_data:
                  type: string
                  description: Serialized widget form data to encode into instance settings.
      security:
      - applicationPassword: []
      - cookieNonce: []
  /wp/v2/widget-types/{id}/render:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: Path segment `id` (WordPress route pattern).
    post:
      operationId: createWpV2WidgetTypesByIdRender
      summary: POST /wp/v2/widget-types/{id}/render
      tags:
      - widget types
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Not authenticated / not permitted (`rest_forbidden`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found (`rest_no_route`, `rest_post_invalid_id`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                instance:
                  type: object
                  description: Current instance settings of the widget.
      security:
      - applicationPassword: []
      - cookieNonce: []
components:
  schemas:
    WPError:
      type: object
      description: WordPress REST API error envelope (not RFC 9457). Observed live on this host.
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. rest_forbidden.
        message:
          type: string
          description: Human-readable message.
        data:
          type: object
          properties:
            status:
              type: integer
      required:
      - code
      - message
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: WordPress Application Passwords (RFC 7617 Basic). Route /wp/v2/users/{user_id}/application-passwords is registered on this host. Write access only; not issued to the public.
    cookieNonce:
      type: apiKey
      in: header
      name: X-WP-Nonce
      description: WordPress cookie authentication with an X-WP-Nonce header (first-party browser context only). Advertised in Access-Control-Allow-Headers on this host.
externalDocs:
  description: WordPress REST API Handbook (the upstream specification this host implements)
  url: https://developer.wordpress.org/rest-api/
