openapi: 3.2.0
info:
  title: LifeMine Website Content API (WordPress REST) Settings API
  version: wp/v2
  summary: Anonymous read API over LifeMine's corporate site content.
  description: 'LifeMine (lifeminetx.com) runs on WordPress and exposes the WordPress REST API publicly and anonymously at https://lifeminetx.com/wp-json/. This document was DERIVED mechanically from that host''s own self-describing route index plus the per-resource JSON Schemas returned by HTTP OPTIONS on each collection - no path, parameter, type, default, enum or description here was authored by API Evangelist.


    This is a site-content API, not a scientific/drug-discovery product API: it serves press releases and publications (`posts`, 24 items), site pages, media (117 items), the leadership/team custom post type (`team`, 15 items) and its taxonomy, plus categories and tags. Read operations require no credentials; write operations require WordPress authentication (application password or cookie+nonce) and are not available to the public.


    Scope note: the live host also registers third-party plugin ADMIN namespaces (yoast/v1, wordfence/v1, wpe/cache-plugin/v1, wpe_sign_on_plugin/v1). Those are real but are vendor control planes rather than LifeMine''s content surface, so they are excluded from this document and recorded in conventions/lifemine-conventions.yml. The complete verbatim route index is preserved at openapi/_original/lifemine-wp-json-index.json.'
  contact:
    name: LifeMine
    url: https://lifeminetx.com/contact/
  x-derived-from: https://lifeminetx.com/wp-json/
  x-derived-on: '2026-08-04'
  x-derived-by: API Evangelist enrichment pipeline (0-working/pipeline-enrich.md)
  x-not-a-provider-published-spec: true
servers:
- url: https://lifeminetx.com/wp-json
  description: Production
security: []
tags:
- name: settings
paths:
  /wp/v2/settings:
    get:
      operationId: getWpV2Settings
      summary: GET /wp/v2/settings
      tags:
      - settings
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Not authenticated / not permitted (`rest_forbidden`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found (`rest_no_route`, `rest_post_invalid_id`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    post:
      operationId: createWpV2Settings
      summary: POST /wp/v2/settings
      tags:
      - settings
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Not authenticated / not permitted (`rest_forbidden`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found (`rest_no_route`, `rest_post_invalid_id`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: Site title.
                description:
                  type: string
                  description: Site tagline.
                url:
                  type: string
                  format: uri
                  description: Site URL.
                email:
                  type: string
                  format: email
                  description: This address is used for admin purposes, like new user notification.
                timezone:
                  type: string
                  description: A city in the same timezone as you.
                date_format:
                  type: string
                  description: A date format for all date strings.
                time_format:
                  type: string
                  description: A time format for all time strings.
                start_of_week:
                  type: integer
                  description: A day number of the week that the week should start on.
                language:
                  type: string
                  description: WordPress locale code.
                use_smilies:
                  type: boolean
                  description: Convert emoticons like :-) and :-P to graphics on display.
                default_category:
                  type: integer
                  description: Default post category.
                default_post_format:
                  type: string
                  description: Default post format.
                posts_per_page:
                  type: integer
                  description: Blog pages show at most.
                show_on_front:
                  type: string
                  description: What to show on the front page
                page_on_front:
                  type: integer
                  description: The ID of the page that should be displayed on the front page
                page_for_posts:
                  type: integer
                  description: The ID of the page that should display the latest posts
                default_ping_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Allow link notifications from other blogs (pingbacks and trackbacks) on new articles.
                default_comment_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Allow people to submit comments on new posts.
                site_logo:
                  type: integer
                  description: Site logo.
                site_icon:
                  type: integer
                  description: Site icon.
      security:
      - applicationPassword: []
      - cookieNonce: []
    put:
      operationId: updateWpV2Settings
      summary: PUT /wp/v2/settings
      tags:
      - settings
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Not authenticated / not permitted (`rest_forbidden`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found (`rest_no_route`, `rest_post_invalid_id`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: Site title.
                description:
                  type: string
                  description: Site tagline.
                url:
                  type: string
                  format: uri
                  description: Site URL.
                email:
                  type: string
                  format: email
                  description: This address is used for admin purposes, like new user notification.
                timezone:
                  type: string
                  description: A city in the same timezone as you.
                date_format:
                  type: string
                  description: A date format for all date strings.
                time_format:
                  type: string
                  description: A time format for all time strings.
                start_of_week:
                  type: integer
                  description: A day number of the week that the week should start on.
                language:
                  type: string
                  description: WordPress locale code.
                use_smilies:
                  type: boolean
                  description: Convert emoticons like :-) and :-P to graphics on display.
                default_category:
                  type: integer
                  description: Default post category.
                default_post_format:
                  type: string
                  description: Default post format.
                posts_per_page:
                  type: integer
                  description: Blog pages show at most.
                show_on_front:
                  type: string
                  description: What to show on the front page
                page_on_front:
                  type: integer
                  description: The ID of the page that should be displayed on the front page
                page_for_posts:
                  type: integer
                  description: The ID of the page that should display the latest posts
                default_ping_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Allow link notifications from other blogs (pingbacks and trackbacks) on new articles.
                default_comment_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Allow people to submit comments on new posts.
                site_logo:
                  type: integer
                  description: Site logo.
                site_icon:
                  type: integer
                  description: Site icon.
      security:
      - applicationPassword: []
      - cookieNonce: []
    patch:
      operationId: patchWpV2Settings
      summary: PATCH /wp/v2/settings
      tags:
      - settings
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Not authenticated / not permitted (`rest_forbidden`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found (`rest_no_route`, `rest_post_invalid_id`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: Site title.
                description:
                  type: string
                  description: Site tagline.
                url:
                  type: string
                  format: uri
                  description: Site URL.
                email:
                  type: string
                  format: email
                  description: This address is used for admin purposes, like new user notification.
                timezone:
                  type: string
                  description: A city in the same timezone as you.
                date_format:
                  type: string
                  description: A date format for all date strings.
                time_format:
                  type: string
                  description: A time format for all time strings.
                start_of_week:
                  type: integer
                  description: A day number of the week that the week should start on.
                language:
                  type: string
                  description: WordPress locale code.
                use_smilies:
                  type: boolean
                  description: Convert emoticons like :-) and :-P to graphics on display.
                default_category:
                  type: integer
                  description: Default post category.
                default_post_format:
                  type: string
                  description: Default post format.
                posts_per_page:
                  type: integer
                  description: Blog pages show at most.
                show_on_front:
                  type: string
                  description: What to show on the front page
                page_on_front:
                  type: integer
                  description: The ID of the page that should be displayed on the front page
                page_for_posts:
                  type: integer
                  description: The ID of the page that should display the latest posts
                default_ping_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Allow link notifications from other blogs (pingbacks and trackbacks) on new articles.
                default_comment_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Allow people to submit comments on new posts.
                site_logo:
                  type: integer
                  description: Site logo.
                site_icon:
                  type: integer
                  description: Site icon.
      security:
      - applicationPassword: []
      - cookieNonce: []
components:
  schemas:
    WPError:
      type: object
      description: WordPress REST API error envelope (not RFC 9457). Observed live on this host.
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. rest_forbidden.
        message:
          type: string
          description: Human-readable message.
        data:
          type: object
          properties:
            status:
              type: integer
      required:
      - code
      - message
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: WordPress Application Passwords (RFC 7617 Basic). Route /wp/v2/users/{user_id}/application-passwords is registered on this host. Write access only; not issued to the public.
    cookieNonce:
      type: apiKey
      in: header
      name: X-WP-Nonce
      description: WordPress cookie authentication with an X-WP-Nonce header (first-party browser context only). Advertised in Access-Control-Allow-Headers on this host.
externalDocs:
  description: WordPress REST API Handbook (the upstream specification this host implements)
  url: https://developer.wordpress.org/rest-api/
