openapi: 3.2.0
info:
  title: LifeMine Website Content API (WordPress REST) Menu Items API
  version: wp/v2
  summary: Anonymous read API over LifeMine's corporate site content.
  description: 'LifeMine (lifeminetx.com) runs on WordPress and exposes the WordPress REST API publicly and anonymously at https://lifeminetx.com/wp-json/. This document was DERIVED mechanically from that host''s own self-describing route index plus the per-resource JSON Schemas returned by HTTP OPTIONS on each collection - no path, parameter, type, default, enum or description here was authored by API Evangelist.


    This is a site-content API, not a scientific/drug-discovery product API: it serves press releases and publications (`posts`, 24 items), site pages, media (117 items), the leadership/team custom post type (`team`, 15 items) and its taxonomy, plus categories and tags. Read operations require no credentials; write operations require WordPress authentication (application password or cookie+nonce) and are not available to the public.


    Scope note: the live host also registers third-party plugin ADMIN namespaces (yoast/v1, wordfence/v1, wpe/cache-plugin/v1, wpe_sign_on_plugin/v1). Those are real but are vendor control planes rather than LifeMine''s content surface, so they are excluded from this document and recorded in conventions/lifemine-conventions.yml. The complete verbatim route index is preserved at openapi/_original/lifemine-wp-json-index.json.'
  contact:
    name: LifeMine
    url: https://lifeminetx.com/contact/
  x-derived-from: https://lifeminetx.com/wp-json/
  x-derived-on: '2026-08-04'
  x-derived-by: API Evangelist enrichment pipeline (0-working/pipeline-enrich.md)
  x-not-a-provider-published-spec: true
servers:
- url: https://lifeminetx.com/wp-json
  description: Production
security: []
tags:
- name: menu-items
paths:
  /wp/v2/menu-items:
    get:
      operationId: getWpV2MenuItems
      summary: GET /wp/v2/menu-items
      tags:
      - menu-items
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Not authenticated / not permitted (`rest_forbidden`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found (`rest_no_route`, `rest_post_invalid_id`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: page
        in: query
        required: false
        description: Current page of the collection.
        schema:
          type: integer
          minimum: 1
          default: 1
      - name: per_page
        in: query
        required: false
        description: Maximum number of items to be returned in result set.
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 100
      - name: search
        in: query
        required: false
        description: Limit results to those matching a string.
        schema:
          type: string
      - name: after
        in: query
        required: false
        description: Limit response to posts published after a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: modified_after
        in: query
        required: false
        description: Limit response to posts modified after a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: before
        in: query
        required: false
        description: Limit response to posts published before a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: modified_before
        in: query
        required: false
        description: Limit response to posts modified before a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: exclude
        in: query
        required: false
        description: Ensure result set excludes specific IDs.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: include
        in: query
        required: false
        description: Limit result set to specific IDs.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: search_semantics
        in: query
        required: false
        description: How to interpret the search input.
        schema:
          type: string
          enum:
          - exact
      - name: offset
        in: query
        required: false
        description: Offset the result set by a specific number of items.
        schema:
          type: integer
      - name: order
        in: query
        required: false
        description: Order sort attribute ascending or descending.
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      - name: orderby
        in: query
        required: false
        description: Sort collection by object attribute.
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          - menu_order
          default: menu_order
      - name: search_columns
        in: query
        required: false
        description: Array of column names to be searched.
        schema:
          type: array
          default: []
          items:
            enum:
            - post_title
            - post_content
            - post_excerpt
            type: string
      - name: slug
        in: query
        required: false
        description: Limit result set to posts with one or more specific slugs.
        schema:
          type: array
          items:
            type: string
      - name: status
        in: query
        required: false
        description: Limit result set to posts assigned one or more statuses.
        schema:
          type: array
          default: publish
          items:
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - acf-disabled
            - any
            type: string
      - name: tax_relation
        in: query
        required: false
        description: Limit result set based on relationship between multiple taxonomies.
        schema:
          type: string
          enum:
          - AND
          - OR
      - name: menus
        in: query
        required: false
        description: Limit result set to items with specific terms assigned in the menus taxonomy.
        schema:
          type:
          - object
          - array
      - name: menus_exclude
        in: query
        required: false
        description: Limit result set to items except those with specific terms assigned in the menus taxonomy.
        schema:
          type:
          - object
          - array
      - name: menu_order
        in: query
        required: false
        description: Limit result set to posts with a specific menu_order value.
        schema:
          type: integer
    post:
      operationId: createWpV2MenuItems
      summary: POST /wp/v2/menu-items
      tags:
      - menu-items
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Not authenticated / not permitted (`rest_forbidden`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found (`rest_no_route`, `rest_post_invalid_id`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type:
                  - string
                  - object
                  description: The title for the object.
                type:
                  type: string
                  enum:
                  - taxonomy
                  - post_type
                  - post_type_archive
                  - custom
                  default: custom
                  description: The family of objects originally represented, such as "post_type" or "taxonomy".
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  default: publish
                  description: A named status for the object.
                parent:
                  type: integer
                  minimum: 0
                  default: 0
                  description: The ID for the parent of the object.
                attr_title:
                  type: string
                  description: Text for the title attribute of the link element for this menu item.
                classes:
                  type: array
                  items:
                    type: string
                  description: Class names for the link element of this menu item.
                description:
                  type: string
                  description: The description of this menu item.
                menu_order:
                  type: integer
                  minimum: 1
                  default: 1
                  description: The DB ID of the nav_menu_item that is this item's menu parent, if any, otherwise 0.
                object:
                  type: string
                  description: The type of object originally represented, such as "category", "post", or "attachment".
                object_id:
                  type: integer
                  minimum: 0
                  default: 0
                  description: The database ID of the original object this menu item represents, for example the ID for posts or the term_id for categories.
                target:
                  type: string
                  enum:
                  - _blank
                  - ''
                  description: The target attribute of the link element for this menu item.
                url:
                  type: string
                  format: uri
                  description: The URL to which this menu item points.
                xfn:
                  type: array
                  items:
                    type: string
                  description: The XFN relationship expressed in the link of this menu item.
                menus:
                  type: integer
                  description: The terms assigned to the object in the nav_menu taxonomy.
                meta:
                  type: object
                  description: Meta fields.
      security:
      - applicationPassword: []
      - cookieNonce: []
  /wp/v2/menu-items/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: Path segment `id` (WordPress route pattern).
    get:
      operationId: getWpV2MenuItemsById
      summary: GET /wp/v2/menu-items/{id}
      tags:
      - menu-items
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Not authenticated / not permitted (`rest_forbidden`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found (`rest_no_route`, `rest_post_invalid_id`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
    post:
      operationId: createWpV2MenuItemsById
      summary: POST /wp/v2/menu-items/{id}
      tags:
      - menu-items
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Not authenticated / not permitted (`rest_forbidden`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found (`rest_no_route`, `rest_post_invalid_id`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type:
                  - string
                  - object
                  description: The title for the object.
                type:
                  type: string
                  enum:
                  - taxonomy
                  - post_type
                  - post_type_archive
                  - custom
                  description: The family of objects originally represented, such as "post_type" or "taxonomy".
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  description: A named status for the object.
                parent:
                  type: integer
                  minimum: 0
                  description: The ID for the parent of the object.
                attr_title:
                  type: string
                  description: Text for the title attribute of the link element for this menu item.
                classes:
                  type: array
                  items:
                    type: string
                  description: Class names for the link element of this menu item.
                description:
                  type: string
                  description: The description of this menu item.
                menu_order:
                  type: integer
                  minimum: 1
                  description: The DB ID of the nav_menu_item that is this item's menu parent, if any, otherwise 0.
                object:
                  type: string
                  description: The type of object originally represented, such as "category", "post", or "attachment".
                object_id:
                  type: integer
                  minimum: 0
                  description: The database ID of the original object this menu item represents, for example the ID for posts or the term_id for categories.
                target:
                  type: string
                  enum:
                  - _blank
                  - ''
                  description: The target attribute of the link element for this menu item.
                url:
                  type: string
                  format: uri
                  description: The URL to which this menu item points.
                xfn:
                  type: array
                  items:
                    type: string
                  description: The XFN relationship expressed in the link of this menu item.
                menus:
                  type: integer
                  description: The terms assigned to the object in the nav_menu taxonomy.
                meta:
                  type: object
                  description: Meta fields.
      security:
      - applicationPassword: []
      - cookieNonce: []
    put:
      operationId: updateWpV2MenuItemsById
      summary: PUT /wp/v2/menu-items/{id}
      tags:
      - menu-items
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Not authenticated / not permitted (`rest_forbidden`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found (`rest_no_route`, `rest_post_invalid_id`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type:
                  - string
                  - object
                  description: The title for the object.
                type:
                  type: string
                  enum:
                  - taxonomy
                  - post_type
                  - post_type_archive
                  - custom
                  description: The family of objects originally represented, such as "post_type" or "taxonomy".
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  description: A named status for the object.
                parent:
                  type: integer
                  minimum: 0
                  description: The ID for the parent of the object.
                attr_title:
                  type: string
                  description: Text for the title attribute of the link element for this menu item.
                classes:
                  type: array
                  items:
                    type: string
                  description: Class names for the link element of this menu item.
                description:
                  type: string
                  description: The description of this menu item.
                menu_order:
                  type: integer
                  minimum: 1
                  description: The DB ID of the nav_menu_item that is this item's menu parent, if any, otherwise 0.
                object:
                  type: string
                  description: The type of object originally represented, such as "category", "post", or "attachment".
                object_id:
                  type: integer
                  minimum: 0
                  description: The database ID of the original object this menu item represents, for example the ID for posts or the term_id for categories.
                target:
                  type: string
                  enum:
                  - _blank
                  - ''
                  description: The target attribute of the link element for this menu item.
                url:
                  type: string
                  format: uri
                  description: The URL to which this menu item points.
                xfn:
                  type: array
                  items:
                    type: string
                  description: The XFN relationship expressed in the link of this menu item.
                menus:
                  type: integer
                  description: The terms assigned to the object in the nav_menu taxonomy.
                meta:
                  type: object
                  description: Meta fields.
      security:
      - applicationPassword: []
      - cookieNonce: []
    patch:
      operationId: patchWpV2MenuItemsById
      summary: PATCH /wp/v2/menu-items/{id}
      tags:
      - menu-items
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Not authenticated / not permitted (`rest_forbidden`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found (`rest_no_route`, `rest_post_invalid_id`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type:
                  - string
                  - object
                  description: The title for the object.
                type:
                  type: string
                  enum:
                  - taxonomy
                  - post_type
                  - post_type_archive
                  - custom
                  description: The family of objects originally represented, such as "post_type" or "taxonomy".
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  description: A named status for the object.
                parent:
                  type: integer
                  minimum: 0
                  description: The ID for the parent of the object.
                attr_title:
                  type: string
                  description: Text for the title attribute of the link element for this menu item.
                classes:
                  type: array
                  items:
                    type: string
                  description: Class names for the link element of this menu item.
                description:
                  type: string
                  description: The description of this menu item.
                menu_order:
                  type: integer
                  minimum: 1
                  description: The DB ID of the nav_menu_item that is this item's menu parent, if any, otherwise 0.
                object:
                  type: string
                  description: The type of object originally represented, such as "category", "post", or "attachment".
                object_id:
                  type: integer
                  minimum: 0
                  description: The database ID of the original object this menu item represents, for example the ID for posts or the term_id for categories.
                target:
                  type: string
                  enum:
                  - _blank
                  - ''
                  description: The target attribute of the link element for this menu item.
                url:
                  type: string
                  format: uri
                  description: The URL to which this menu item points.
                xfn:
                  type: array
                  items:
                    type: string
                  description: The XFN relationship expressed in the link of this menu item.
                menus:
                  type: integer
                  description: The terms assigned to the object in the nav_menu taxonomy.
                meta:
                  type: object
                  description: Meta fields.
      security:
      - applicationPassword: []
      - cookieNonce: []
    delete:
      operationId: deleteWpV2MenuItemsById
      summary: DELETE /wp/v2/menu-items/{id}
      tags:
      - menu-items
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Not authenticated / not permitted (`rest_forbidden`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found (`rest_no_route`, `rest_post_invalid_id`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: force
        in: query
        required: false
        description: Whether to bypass Trash and force deletion.
        schema:
          type: boolean
          default: false
      security:
      - applicationPassword: []
      - cookieNonce: []
  /wp/v2/menu-items/{id}/autosaves:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: Path segment `id` (WordPress route pattern).
    get:
      operationId: getWpV2MenuItemsByIdAutosaves
      summary: GET /wp/v2/menu-items/{id}/autosaves
      tags:
      - menu-items
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Not authenticated / not permitted (`rest_forbidden`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found (`rest_no_route`, `rest_post_invalid_id`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: parent
        in: query
        required: false
        description: The ID for the parent of the autosave.
        schema:
          type: integer
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
    post:
      operationId: createWpV2MenuItemsByIdAutosaves
      summary: POST /wp/v2/menu-items/{id}/autosaves
      tags:
      - menu-items
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Not authenticated / not permitted (`rest_forbidden`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found (`rest_no_route`, `rest_post_invalid_id`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                parent:
                  type: integer
                  minimum: 0
                  description: The ID for the parent of the object.
                title:
                  type:
                  - string
                  - object
                  description: The title for the object.
                type:
                  type: string
                  enum:
                  - taxonomy
                  - post_type
                  - post_type_archive
                  - custom
                  description: The family of objects originally represented, such as "post_type" or "taxonomy".
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  description: A named status for the object.
                attr_title:
                  type: string
                  description: Text for the title attribute of the link element for this menu item.
                classes:
                  type: array
                  items:
                    type: string
                  description: Class names for the link element of this menu item.
                description:
                  type: string
                  description: The description of this menu item.
                menu_order:
                  type: integer
                  minimum: 1
                  description: The DB ID of the nav_menu_item that is this item's menu parent, if any, otherwise 0.
                object:
                  type: string
                  description: The type of object originally represented, such as "category", "post", or "attachment".
                object_id:
                  type: integer
                  minimum: 0
                  description: The database ID of the original object this menu item represents, for example the ID for posts or the term_id for categories.
                target:
                  type: string
                  enum:
                  - _blank
                  - ''
                  description: The target attribute of the link element for this menu item.
                url:
                  type: string
                  format: uri
                  description: The URL to which this menu item points.
                xfn:
                  type: array
                  items:
                    type: string
                  description: The XFN relationship expressed in the link of this menu item.
                menus:
                  type: integer
                  description: The terms assigned to the object in the nav_menu taxonomy.
                meta:
                  type: object
                  description: Meta fields.
      security:
      - applicationPassword: []
      - cookieNonce: []
  /wp/v2/menu-items/{parent}/autosaves/{id}:
    parameters:
    - name: parent
      in: path
      required: true
      schema:
        type: string
      description: Path segment `parent` (WordPress route pattern).
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: Path segment `id` (WordPress route pattern).
    get:
      operationId: getWpV2MenuItemsByParentAutosavesById
      summary: GET /wp/v2/menu-items/{parent}/autosaves/{id}
      tags:
      - menu-items
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Not authenticated / not permitted (`rest_forbidden`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found (`rest_no_route`, `rest_post_invalid_id`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
components:
  schemas:
    WPError:
      type: object
      description: WordPress REST API error envelope (not RFC 9457). Observed live on this host.
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. rest_forbidden.
        message:
          type: string
          description: Human-readable message.
        data:
          type: object
          properties:
            status:
              type: integer
      required:
      - code
      - message
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: WordPress Application Passwords (RFC 7617 Basic). Route /wp/v2/users/{user_id}/application-passwords is registered on this host. Write access only; not issued to the public.
    cookieNonce:
      type: apiKey
      in: header
      name: X-WP-Nonce
      description: WordPress cookie authentication with an X-WP-Nonce header (first-party browser context only). Advertised in Access-Control-Allow-Headers on this host.
externalDocs:
  description: WordPress REST API Handbook (the upstream specification this host implements)
  url: https://developer.wordpress.org/rest-api/
