openapi: 3.2.0
info:
  title: LifeMine Careers API (Greenhouse Job ) Board API
  version: v1
  summary: Anonymous read API over LifeMine's open roles, departments and offices.
  description: LifeMine hosts its careers surface on Greenhouse under the board token `lifeminetx` (https://job-boards.greenhouse.io/lifeminetx).
  contact:
    name: LifeMine
    url: https://lifeminetx.com/contact/
  x-derived-from:
  - https://developers.greenhouse.io/job-board.html
  - https://boards-api.greenhouse.io/v1/boards/lifeminetx
  x-derived-on: '2026-08-04'
  x-derived-by: API Evangelist enrichment pipeline (0-working/pipeline-enrich.md)
  x-not-a-provider-published-spec: true
  x-hosted-by: Greenhouse Software, Inc.
servers:
- url: https://boards-api.greenhouse.io/v1/boards/lifeminetx
  description: LifeMine's Greenhouse job board (board token lifeminetx)
security: []
tags:
- name: Board
  description: Board-level metadata.
paths:
  /:
    get:
      operationId: getBoard
      summary: Get the job board
      description: Board name and the board's marketing content block.
      tags:
      - Board
      responses:
        '200':
          description: The board
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Board'
        '404':
          description: Board token not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Board:
      type: object
      description: Board-level metadata.
      properties:
        name:
          type: string
          description: Board display name (observed value "LifeMine").
        content:
          type: string
          description: HTML-escaped marketing block shown at the top of the board.
    Error:
      type: object
      description: Greenhouse error envelope.
      properties:
        error:
          type: string
externalDocs:
  description: Greenhouse Job Board API documentation
  url: https://developers.greenhouse.io/job-board.html
