openapi: 3.2.0
info:
  title: LifeMine Website Content API (WordPress REST) Pages API
  version: wp/v2
  summary: Anonymous read API over LifeMine's corporate site content.
  description: 'LifeMine (lifeminetx.com) runs on WordPress and exposes the WordPress REST API publicly and anonymously at https://lifeminetx.com/wp-json/. This document was DERIVED mechanically from that host''s own self-describing route index plus the per-resource JSON Schemas returned by HTTP OPTIONS on each collection - no path, parameter, type, default, enum or description here was authored by API Evangelist.


    This is a site-content API, not a scientific/drug-discovery product API: it serves press releases and publications (`posts`, 24 items), site pages, media (117 items), the leadership/team custom post type (`team`, 15 items) and its taxonomy, plus categories and tags. Read operations require no credentials; write operations require WordPress authentication (application password or cookie+nonce) and are not available to the public.


    Scope note: the live host also registers third-party plugin ADMIN namespaces (yoast/v1, wordfence/v1, wpe/cache-plugin/v1, wpe_sign_on_plugin/v1). Those are real but are vendor control planes rather than LifeMine''s content surface, so they are excluded from this document and recorded in conventions/lifemine-conventions.yml. The complete verbatim route index is preserved at openapi/_original/lifemine-wp-json-index.json.'
  contact:
    name: LifeMine
    url: https://lifeminetx.com/contact/
  x-derived-from: https://lifeminetx.com/wp-json/
  x-derived-on: '2026-08-04'
  x-derived-by: API Evangelist enrichment pipeline (0-working/pipeline-enrich.md)
  x-not-a-provider-published-spec: true
servers:
- url: https://lifeminetx.com/wp-json
  description: Production
security: []
tags:
- name: pages
paths:
  /wp/v2/pages:
    get:
      operationId: getWpV2Pages
      summary: GET /wp/v2/pages
      tags:
      - pages
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/page'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Not authenticated / not permitted (`rest_forbidden`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found (`rest_no_route`, `rest_post_invalid_id`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: page
        in: query
        required: false
        description: Current page of the collection.
        schema:
          type: integer
          minimum: 1
          default: 1
      - name: per_page
        in: query
        required: false
        description: Maximum number of items to be returned in result set.
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 10
      - name: search
        in: query
        required: false
        description: Limit results to those matching a string.
        schema:
          type: string
      - name: after
        in: query
        required: false
        description: Limit response to posts published after a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: modified_after
        in: query
        required: false
        description: Limit response to posts modified after a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: author
        in: query
        required: false
        description: Limit result set to posts assigned to specific authors.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: author_exclude
        in: query
        required: false
        description: Ensure result set excludes posts assigned to specific authors.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: before
        in: query
        required: false
        description: Limit response to posts published before a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: modified_before
        in: query
        required: false
        description: Limit response to posts modified before a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: exclude
        in: query
        required: false
        description: Ensure result set excludes specific IDs.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: include
        in: query
        required: false
        description: Limit result set to specific IDs.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: menu_order
        in: query
        required: false
        description: Limit result set to posts with a specific menu_order value.
        schema:
          type: integer
      - name: search_semantics
        in: query
        required: false
        description: How to interpret the search input.
        schema:
          type: string
          enum:
          - exact
      - name: offset
        in: query
        required: false
        description: Offset the result set by a specific number of items.
        schema:
          type: integer
      - name: order
        in: query
        required: false
        description: Order sort attribute ascending or descending.
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - name: orderby
        in: query
        required: false
        description: Sort collection by post attribute.
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          - menu_order
          default: date
      - name: parent
        in: query
        required: false
        description: Limit result set to items with particular parent IDs.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: parent_exclude
        in: query
        required: false
        description: Limit result set to all items except those of a particular parent ID.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: search_columns
        in: query
        required: false
        description: Array of column names to be searched.
        schema:
          type: array
          default: []
          items:
            enum:
            - post_title
            - post_content
            - post_excerpt
            type: string
      - name: slug
        in: query
        required: false
        description: Limit result set to posts with one or more specific slugs.
        schema:
          type: array
          items:
            type: string
      - name: status
        in: query
        required: false
        description: Limit result set to posts assigned one or more statuses.
        schema:
          type: array
          default: publish
          items:
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - acf-disabled
            - any
            type: string
    post:
      operationId: createWpV2Pages
      summary: POST /wp/v2/pages
      tags:
      - pages
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/page'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Not authenticated / not permitted (`rest_forbidden`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found (`rest_no_route`, `rest_post_invalid_id`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                parent:
                  type: integer
                  description: The ID for the parent of the post.
                title:
                  type: object
                  description: The title for the post.
                content:
                  type: object
                  description: The content for the post.
                author:
                  type: integer
                  description: The ID for the author of the post.
                excerpt:
                  type: object
                  description: The excerpt for the post.
                featured_media:
                  type: integer
                  description: The ID of the featured media for the post.
                comment_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Whether or not comments are open on the post.
                ping_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Whether or not the post can be pinged.
                menu_order:
                  type: integer
                  description: The order of the post in relation to other posts.
                meta:
                  type: object
                  description: Meta fields.
                template:
                  type: string
                  description: The theme file to use to display the post.
      security:
      - applicationPassword: []
      - cookieNonce: []
  /wp/v2/pages/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: Path segment `id` (WordPress route pattern).
    get:
      operationId: getWpV2PagesById
      summary: GET /wp/v2/pages/{id}
      tags:
      - pages
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Not authenticated / not permitted (`rest_forbidden`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found (`rest_no_route`, `rest_post_invalid_id`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: excerpt_length
        in: query
        required: false
        description: Override the default excerpt length.
        schema:
          type: integer
      - name: password
        in: query
        required: false
        description: The password for the post if it is password protected.
        schema:
          type: string
    post:
      operationId: createWpV2PagesById
      summary: POST /wp/v2/pages/{id}
      tags:
      - pages
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Not authenticated / not permitted (`rest_forbidden`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found (`rest_no_route`, `rest_post_invalid_id`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                parent:
                  type: integer
                  description: The ID for the parent of the post.
                title:
                  type: object
                  description: The title for the post.
                content:
                  type: object
                  description: The content for the post.
                author:
                  type: integer
                  description: The ID for the author of the post.
                excerpt:
                  type: object
                  description: The excerpt for the post.
                featured_media:
                  type: integer
                  description: The ID of the featured media for the post.
                comment_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Whether or not comments are open on the post.
                ping_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Whether or not the post can be pinged.
                menu_order:
                  type: integer
                  description: The order of the post in relation to other posts.
                meta:
                  type: object
                  description: Meta fields.
                template:
                  type: string
                  description: The theme file to use to display the post.
      security:
      - applicationPassword: []
      - cookieNonce: []
    put:
      operationId: updateWpV2PagesById
      summary: PUT /wp/v2/pages/{id}
      tags:
      - pages
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Not authenticated / not permitted (`rest_forbidden`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found (`rest_no_route`, `rest_post_invalid_id`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                parent:
                  type: integer
                  description: The ID for the parent of the post.
                title:
                  type: object
                  description: The title for the post.
                content:
                  type: object
                  description: The content for the post.
                author:
                  type: integer
                  description: The ID for the author of the post.
                excerpt:
                  type: object
                  description: The excerpt for the post.
                featured_media:
                  type: integer
                  description: The ID of the featured media for the post.
                comment_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Whether or not comments are open on the post.
                ping_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Whether or not the post can be pinged.
                menu_order:
                  type: integer
                  description: The order of the post in relation to other posts.
                meta:
                  type: object
                  description: Meta fields.
                template:
                  type: string
                  description: The theme file to use to display the post.
      security:
      - applicationPassword: []
      - cookieNonce: []
    patch:
      operationId: patchWpV2PagesById
      summary: PATCH /wp/v2/pages/{id}
      tags:
      - pages
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Not authenticated / not permitted (`rest_forbidden`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found (`rest_no_route`, `rest_post_invalid_id`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                parent:
                  type: integer
                  description: The ID for the parent of the post.
                title:
                  type: object
                  description: The title for the post.
                content:
                  type: object
                  description: The content for the post.
                author:
                  type: integer
                  description: The ID for the author of the post.
                excerpt:
                  type: object
                  description: The excerpt for the post.
                featured_media:
                  type: integer
                  description: The ID of the featured media for the post.
                comment_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Whether or not comments are open on the post.
                ping_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Whether or not the post can be pinged.
                menu_order:
                  type: integer
                  description: The order of the post in relation to other posts.
                meta:
                  type: object
                  description: Meta fields.
                template:
                  type: string
                  description: The theme file to use to display the post.
      security:
      - applicationPassword: []
      - cookieNonce: []
    delete:
      operationId: deleteWpV2PagesById
      summary: DELETE /wp/v2/pages/{id}
      tags:
      - pages
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Not authenticated / not permitted (`rest_forbidden`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found (`rest_no_route`, `rest_post_invalid_id`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: force
        in: query
        required: false
        description: Whether to bypass Trash and force deletion.
        schema:
          type: boolean
          default: false
      security:
      - applicationPassword: []
      - cookieNonce: []
  /wp/v2/pages/{parent}/revisions:
    parameters:
    - name: parent
      in: path
      required: true
      schema:
        type: string
      description: Path segment `parent` (WordPress route pattern).
    get:
      operationId: getWpV2PagesByParentRevisions
      summary: GET /wp/v2/pages/{parent}/revisions
      tags:
      - pages
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Not authenticated / not permitted (`rest_forbidden`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found (`rest_no_route`, `rest_post_invalid_id`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: page
        in: query
        required: false
        description: Current page of the collection.
        schema:
          type: integer
          minimum: 1
          default: 1
      - name: per_page
        in: query
        required: false
        description: Maximum number of items to be returned in result set.
        schema:
          type: integer
          minimum: 1
          maximum: 100
      - name: search
        in: query
        required: false
        description: Limit results to those matching a string.
        schema:
          type: string
      - name: exclude
        in: query
        required: false
        description: Ensure result set excludes specific IDs.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: include
        in: query
        required: false
        description: Limit result set to specific IDs.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: offset
        in: query
        required: false
        description: Offset the result set by a specific number of items.
        schema:
          type: integer
      - name: order
        in: query
        required: false
        description: Order sort attribute ascending or descending.
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - name: orderby
        in: query
        required: false
        description: Sort collection by object attribute.
        schema:
          type: string
          enum:
          - date
          - id
          - include
          - relevance
          - slug
          - include_slugs
          - title
          default: date
  /wp/v2/pages/{parent}/revisions/{id}:
    parameters:
    - name: parent
      in: path
      required: true
      schema:
        type: string
      description: Path segment `parent` (WordPress route pattern).
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: Path segment `id` (WordPress route pattern).
    get:
      operationId: getWpV2PagesByParentRevisionsById
      summary: GET /wp/v2/pages/{parent}/revisions/{id}
      tags:
      - pages
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Not authenticated / not permitted (`rest_forbidden`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found (`rest_no_route`, `rest_post_invalid_id`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
    delete:
      operationId: deleteWpV2PagesByParentRevisionsById
      summary: DELETE /wp/v2/pages/{parent}/revisions/{id}
      tags:
      - pages
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Not authenticated / not permitted (`rest_forbidden`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found (`rest_no_route`, `rest_post_invalid_id`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: force
        in: query
        required: false
        description: Required to be true, as revisions do not support trashing.
        schema:
          type: boolean
          default: false
      security:
      - applicationPassword: []
      - cookieNonce: []
  /wp/v2/pages/{id}/autosaves:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: Path segment `id` (WordPress route pattern).
    get:
      operationId: getWpV2PagesByIdAutosaves
      summary: GET /wp/v2/pages/{id}/autosaves
      tags:
      - pages
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Not authenticated / not permitted (`rest_forbidden`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found (`rest_no_route`, `rest_post_invalid_id`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: parent
        in: query
        required: false
        description: The ID for the parent of the autosave.
        schema:
          type: integer
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
    post:
      operationId: createWpV2PagesByIdAutosaves
      summary: POST /wp/v2/pages/{id}/autosaves
      tags:
      - pages
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Not authenticated / not permitted (`rest_forbidden`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found (`rest_no_route`, `rest_post_invalid_id`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                parent:
                  type: integer
                  description: The ID for the parent of the post.
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  description: The title for the post.
                content:
                  type: object
                  description: The content for the post.
                author:
                  type: integer
                  description: The ID for the author of the post.
                excerpt:
                  type: object
                  description: The excerpt for the post.
                featured_media:
                  type: integer
                  description: The ID of the featured media for the post.
                comment_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Whether or not comments are open on the post.
                ping_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Whether or not the post can be pinged.
                menu_order:
                  type: integer
                  description: The order of the post in relation to other posts.
                meta:
                  type: object
                  description: Meta fields.
                template:
                  type: string
                  description: The theme file to use to display the post.
      security:
      - applicationPassword: []
      - cookieNonce: []
  /wp/v2/pages/{parent}/autosaves/{id}:
    parameters:
    - name: parent
      in: path
      required: true
      schema:
        type: string
      description: Path segment `parent` (WordPress route pattern).
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: Path segment `id` (WordPress route pattern).
    get:
      operationId: getWpV2PagesByParentAutosavesById
      summary: GET /wp/v2/pages/{parent}/autosaves/{id}
      tags:
      - pages
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Not authenticated / not permitted (`rest_forbidden`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found (`rest_no_route`, `rest_post_invalid_id`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
components:
  schemas:
    page:
      title: page
      type: object
      properties:
        date:
          description: The date the post was published, in the site's timezone.
          type:
          - string
          - 'null'
          format: date-time
          context:
          - view
          - edit
          - embed
        date_gmt:
          description: The date the post was published, as GMT.
          type:
          - string
          - 'null'
          format: date-time
          context:
          - view
          - edit
        guid:
          description: The globally unique identifier for the post.
          type: object
          context:
          - view
          - edit
          readonly: true
          properties:
            raw:
              description: GUID for the post, as it exists in the database.
              type: string
              context:
              - edit
              readonly: true
            rendered:
              description: GUID for the post, transformed for display.
              type: string
              context:
              - view
              - edit
              readonly: true
        id:
          description: Unique identifier for the post.
          type: integer
          context:
          - view
          - edit
          - embed
          readonly: true
        link:
          description: URL to the post.
          type: string
          format: uri
          context:
          - view
          - edit
          - embed
          readonly: true
        modified:
          description: The date the post was last modified, in the site's timezone.
          type: string
          format: date-time
          context:
          - view
          - edit
          readonly: true
        modified_gmt:
          description: The date the post was last modified, as GMT.
          type: string
          format: date-time
          context:
          - view
          - edit
          readonly: true
        slug:
          description: An alphanumeric identifier for the post unique to its type.
          type: string
          context:
          - view
          - edit
          - embed
        status:
          description: A named status for the post.
          type: string
          enum:
          - publish
          - future
          - draft
          - pending
          - private
          - acf-disabled
          context:
          - view
          - edit
        type:
          description: Type of post.
          type: string
          context:
          - view
          - edit
          - embed
          readonly: true
        password:
          description: A password to protect access to the content and excerpt.
          type: string
          context:
          - edit
        permalink_template:
          description: Permalink template for the post.
          type: string
          context:
          - edit
          readonly: true
        generated_slug:
          description: Slug automatically generated from the post title.
          type: string
          context:
          - edit
          readonly: true
        class_list:
          description: An array of the class names for the post container element.
          type: array
          context:
          - view
          - edit
          readonly: true
          items:
            type: string
        parent:
          description: The ID for the parent of the post.
          type: integer
          context:
          - view
          - edit
        title:
          description: The title for the post.
          type: object
          context:
          - view
          - edit
          - embed
          properties:
            raw:
              description: Title for the post, as it exists in the database.
              type: string
              context:
              - edit
            rendered:
              description: HTML title for the post, transformed for display.
              type: string
              context:
              - view
              - edit
              - embed
              readonly: true
        content:
          description: The content for the post.
          type: object
          context:
          - view
          - edit
          properties:
            raw:
              description: Content for the post, as it exists in the database.
              type: string
              context:
              - edit
            rendered:
              description: HTML content for the post, transformed for display.
              type: string
              context:
              - view
              - edit
              readonly: true
            block_version:
              description: Version of the content block format used by the post.
              type: integer
              context:
              - edit
              readonly: true
            protected:
              description: Whether the content is protected with a password.
              type: boolean
              context:
              - view
              - edit
              - embed
              readonly: true
        author:
          description: The ID for the author of the post.
          type: integer
          context:
          - view
          - edit
          - embed
        excerpt:
          description: The excerpt for the post.
          type: object
          context:
          - view
          - edit
          - embed
          properties:
            raw:
              description: Excerpt for the post, as it exists in the database.
              type: string
              context:
              - edit
            rendered:
              description: HTML excerpt for the post, transformed for display.
              type: string
              context:
              - view
              - edit
              - embed
              readonly: true
            protected:
              description: Whether the excerpt is protected with a password.
              type: boolean
              context:
              - view
              - edit
              - embed
              readonly: true
        featured_media:
          description: The ID of the featured media for the post.
          type: integer
          context:
          - view
          - edit
          - embed
        comment_status:
          description: Whether or not comments are open on the post.
          type: string
          enum:
          - open
          - closed
          context:
          - view
          - edit
        ping_status:
          description: Whether or not the post can be pinged.
          type: string
          enum:
          - open
          - closed
          context:
          - view
          - edit
        menu_order:
          description: The order of the post in relation to other posts.
          type: integer
          context:
          - view
          - edit
        meta:
          description: Meta fields.
          type: object
          context:
          - view
          - edit
          properties:
            _acf_changed:
              type: boolean
              title: ''
              description: ''
              default: false
            inline_featured_image:
              type: boolean
              title: ''
              description: ''
              default: false
            footnotes:
              type: string
              title: ''
              description: ''
              default: ''
        template:
          description: The theme file to use to display the post.
          type: string
          context:
          - view
          - edit
        acf:
          description: ACF field data
          type: object
          properties:
            modules:
              type:
              - array
              - 'null'
              required: false
              items:
                oneOf:
                - type: object
                  properties:
                    acf_fc_layout:
                      type: string
                      required: true
                      pattern: ^CtaComponent$
                    title:
                      type:
                      - string
                      - 'null'
                      required: false
                    title_width:
                      type:
                      - boolean
                      - 'null'
                      required: false
                      default: false
                    description:
                      type:
                      - string
                      - 'null'
                      required: false
                    button:
                      type:
                      - object
                      - 'null'
                      required: false
                      properties:
                        title:
                          type: string
                        url:
                          type: string
                          required: true
                          format: uri
                        target:
                          type: string
                    orb_position:
                      type:
                      - boolean
                      - 'null'
                      required: false
                      default: false
                    start_color:
                      type:
                      - string
                      - 'null'
                      required: false
                    color:
                      type:
                      - string
                      - 'null'
                      required: false
                    add_background:
                      type:
                      - boolean
                      - 'null'
                      required: false
                      default: false
                    background:
                      type:
                      - object
                      - 'null'
                      properties:
                        is_video:
                          type:
                          - boolean
                          - 'null'
                          required: false
                          default: false
                        overlay:
                          type:
                          - boolean
                          - 'null'
                          required: false
                          default: false
                        overlay_color:
                          type:
                          - string
                          - 'null'
                          required: false
                        colorize:
                          type:
                          - boolean
                          - 'null'
                          required: false
                          default: false
                        colorize_color:
                          type:
                          - string
                          - 'null'
                          required: false
                        video:
                          type:
                          - integer
                          - 'null'
                          required: false
                          mimeTypes: mp4
                        image:
                          type:
                          - integer
                          - 'null'
                          required: false
                      required: false
                - type: object
                  properties:
                    acf_fc_layout:
                      type: string
                      required: true
                      pattern: ^TeamComponent$
                    ? ''
                    : type:
                      - string
                      - 'null'
                      required: false
                    leadership_tab:
                      type:
                      - integer
                      - array
                      - 'null'
                      required: false
                      items:
                        type: integer
                      minItems: 1
                    founders_tab:
                      type:
                      - integer
                      - array
                      - 'null'
                      required: false
                      items:
                        type: integer
                      minItems: 1
                    board_of_directors_tab:
                      type:
                      - integer
                      - array
                      - 'null'
                      required: false
                      items:
                        type: integer
                      minItems: 1
                - type: object
                  properties:
                    acf_fc_layout:
                      type: string
                      required: true
                      pattern: ^BlogListComponent$
                    title:
                      type:
                      - string
                      - 'null'
                      required: false
                    text_content:
                      type:
                      - string
                      - 'null'
                      required: false
                    posts_to_show:
                      type:
                      - integer
                      - array
                      - 'null'
                      required: false
                      items:
                        type: integer
                      minItems: 1
                - type: object
                  properties:
                    acf_fc_layout:
                      type: string
                      required: true
                      pattern: ^CoreDNAComponent$
                    title:
                      type:
                      - string
                      - 'null'
                      required: false
                    color:
                      type:
                      - string
                      - 'null'
                      required: false
                    video_background:
                      type:
                      - integer
                      - 'null'
                      required: false
                      mimeTypes: mp4
                    values:
                      type:
                      - array
                      - 'null'
                      required: false
                      items:
                        type: object
                        properties:
                          title:
                            type:
                            - string
                            - 'null'
                            required: false
                          description:
                            type:
                            - string
                            - 'null'
                            required: false
                          image:
                            type:
                            - integer
                            - 'null'
                            required: false
                      minItems: 4
                      maxItems: 4
                - type: object
                  properties:
                    acf_fc_layout:
                      type: string
                      required: true
                      pattern: ^FullImageComponent$
                    mobile_img:
                      type:
                      - integer
                      - 'null'
                      required: false
                    dt_img:
                      type:
                      - integer
                      - 'null'
                      required: false
                - type: object
                  properties:
                    acf_fc_layout:
                      type: string
                      required: true
                      pattern: ^ThreeBlocksComponent$
                    big_box_mobile:
                      type:
                      - boolean
                      - 'null'
                      required: false
                      default: false
                    map:
                      type:
                      - boolean
                      - 'null'
                      required: false
                      default: false
                    blocks_items:
                      type:
                      - array
                      - 'null'
                      required: false
                      items:
                        type: object
                        properties:
                          img:
                            type:
                            - integer
                            - 'null'
                            required: true
                          text:
                            type:
                            - string
                            - 'null'
                            required: false
                          sub:
                            type:
                            - string
                            - 'null'
                            required: false
                          full_text:
                            type:
                            - string
                            - 'null'
                            required: false
                          maps_link:
                            type:
                            - string
                            - 'null'
                            required: false
                            format: uri
                      minItems: 3
                      maxItems: 3
                - type: object
                  properties:
                    acf_fc_layout:
                      type: string
                      required: true
                      pattern: ^ImageComponent$
                    module_image_url:
                      type:
                      - integer
                      - 'null'
                      required: true
                      minHeight: 600
                - type: object
                  properties:
                    acf_fc_layout:
                      type: string
                      required: true
                      pattern: ^ToggleComponent$
                    bg:
                      type:
                      - integer
                      - 'null'
                      required: true
                    theme:
                      type:
                      - object
                      - 'null'
                      properties:
                        accent:
                          type:
                          - string
                          - 'null'
                          required: false
                          default: '#382C75'
                        line_top:
                          type:
                          - string
                          - 'null'
                          required: false
                          default: '#382C75'
                        line_bottom:
                          type:
                          - string
                          - 'null'
                          required: false
                          default: '#6FCFD7'
                      required: false
                    left:
                      type:
                      - object
                      - 'null'
                      properties:
                        title:
                          type:
                          - string
                          - 'null'
                          required: true
                        content:
                          type:
                          - string
                          - 'null'
                          required: true
                      required: false
                    right:
                      type:
                      - string
                      - 'null'
                      required: true
                - type: object
                  properties:
                    acf_fc_layout:
                      type: string
                      required: true
                      pattern: ^ImageCarouselComponent$
                    imgs:
                      type:
                      - array
                      - 'null'
                      required: true
                      items:
                        type: number
                      minItems: 2
                      maxItems: 6
                    title:
                      type:
                      - string
                      - 'null'
                      required: true
                    text:
                      type:
                      - string
                      - 'null'
                      required: true
                - type: object
                  properties:
                    acf_fc_layout:
                      type: string
                      required: true
                      pattern: ^HeadingComponent$
                    heading_area:
                      type:
                      - string
                      - 'null'
                      required: false
                    font_type:
                      type:
                      - boolean
                      - 'null'
                      required: false
                      default: false
                    font_size:
                      type:
                      - boolean
                      - 'null'
                      required: false
                      default: false
                    width:
                      type:
                      - boolean
                      - 'null'
                      required: false
                      default: false
                    bottom_area:
                      type:
                      - boolean
                      - 'null'
                      required: false
                      default: false
                    text_area:
                      type:
                      - string
                      - 'null'
                      required: false
                    text_width:
                      type:
                      - boolean
                      - 'null'
                      required: false
                      default: false
                    text_color:
                      type:
                      - boolean
                      - 'null'
                      required: false
                      default: false
                    orb:
                      type:
                      - boolean
                      - 'null'
                      required: false
                      default: false
                    color:
                      type:
                      - string
                      - 'null'
                      required: false
                    color_end:
                      type:
                      - string
                      - 'null'
                      required: false
                    orb_position:
                      type:
                      - boolean
                      - 'null'
                      required: false
                      default: false
                    horizontal_lines:
                      type:
                      - boolean
                      - 'null'
                      required: false
                      default: false
                - type: object
                  properties:
                    acf_fc_layout:
                      type: string
                      required: true
                      pattern: ^GridComponent$
                    title:
                      type:
                      - string
                      - 'null'
                      required: false
                    boxes:
                      type:
                      - array
                      - 'null'
                      required: false
                      items:
                        type: object
                        properties:
                          text:
                            type:
                            - string
                            - 'null'
                            required: false
                      minItems: 12
                      maxItems: 12
                - type: object
                  properties:
                    acf_fc_layout:
                      type: string
                      required: true
                      pattern: ^FormsComponent$
                    forms_module:
                      type:
                      - object
                      - 'null'
                      properties: []
                      required: false
                    forms_module_group:
                      type:
                      - object
                      - 'null'
                      properties:
                        form_title:
                          type:
                          - string
                          - 'null'
                          required: false
                        form_id:
                          type:
                          - number
                          - 'null'
                          required: true
                      required: false
                    form_text:
                      type:
                      - string
                      - 'null'
                      required: false
                    form_wide:
                      type:
                      - boolean
                      - 'null'
                      required: false
                      default: false
                - type: object
                  properties:
                    acf_fc_layout:
                      type: string
                      required: true
                      pattern: ^SpheresCarouselComponent$
                    top_section:
                      type:
                      - object
                      - 'null'
                      properties:
                        title:
                          type:
                          - string
                          - 'null'
                          required: false
                        content:
                          type:
                          - string
                          - 'null'
                          required: false
                      required: false
                    spheres:
                      type:
                      - object
                      - 'null'
                      properties:
                        left_sphere:
                          type:
                          - object
                          - 'null'
                          properties:
                            title:
                              type:
                              - string
                              - 'null'
                              required: false
                            background:
                              type:
                              - integer
                              - 'null'
                              required: false
                          required: false
                        carousel:
                          type:
                          - array
                          - 'null'
                          required: false
                          items:
                            type: object
                            properties:
                              orb_color:
                                type:
                                - string
                                - 'null'
                                required: false
                              subtitle:
                                type:
                                - string
                                - 'null'
                                required: false
                              title:
                                type:
                                - string
                                - 'null'
                                required: false
                              content:
                                type:
                                - string
                                - 'null'
                                required: false
                          minItems: 5
                          maxItems: 5
                        right_sphere:
                          type:
                          - object
                          - 'null'
                          properties:
                            title:
                              type:
                              - string
                              - 'null'
                              required: false
                            background:
                              type:
                              - integer
                              - 'null'
                              required: false
                          required: false
                      required: false
                    settings:
                      type:
                      - object
                      - 'null'
                      properties:
                        line_color:
                          type:
                          - string
                          - 'null'
                          required: false
                        orb_color:
                          type:
                          - string
                          - 'null'
                          required: false
                      required: false
                - type: object
                  properties:
                    acf_fc_layout:
                      type: string
                      required: true
                      pattern: ^AnchorComponent$
                    section_anchor:
                      type:
                      - string
                      - 'null'
                      required: false
                - type: object
                  properties:
                    acf_fc_layout:
                      type: string
                      required: true
                      pattern: ^OpenPositionsComponent$
                    open_positions:
                      type:
                      - object
                      - 'null'
                      properties:
                        title:
                          type:
                          - string
                          - 'null'
                          required: false
                        button_text:
                          type:
                          - string
                          - 'null'
                          required: false
                      required: false
                - type: object
                  properties:
                    acf_fc_layout:
                      type: string
                      required: true
                      pattern: ^TitleWithTwoColsComponent$
                    img:
                      type:
                      - integer
                      - 'null'
                      required: false
                    text:
                      type:
                      - string
                      - 'null'
                      required: true
                    left_col:
                      type:
                      - string
                      - 'null'
                      required: true
                    right_col:
                      type:
                      - string
                      - 'null'
                      required: true
                    def_color:
                      type:
                      - boolean
                      - 'null'
                      required: false
                      default: true
                    color:
                      type:
                      - string
                      - 'null'
                      required: false
                - type: object
                  properties:
                    acf_fc_layout:
                      type: string
                      required: true
                      pattern: ^InfoColumnsComponent$
                    left:
                      type:
                      - object
                      - 'null'
                      properties:
                        title:
                          type:
                          - string
                          - 'null'
                          required: false
                        text:
                          type:
                          - string
                          - 'null'
                          required: false
                      required: true
                    right:
                      type:
                      - object
                      - 'null'
                      properties:
                        title:
                          type:
                          - string
                          - 'null'
                          required: false
                        text:
                          type:
                          - string
                          - 'null'
                          required: false
                      required: true
                - type: object
                  properties:
                    acf_fc_layout:
                      type: string
                      required: true
                      pattern: ^PlatformComponent$
                    title_area:
                      type:
                      - string
                      - 'null'
                      required: false
                    first_row:
                      type:
                      - object
                      - 'null'
                      properties:
                        text:
                          type:
                          - string
                          - 'null'
                          required: false
                        image:
                          type:
                          - integer
                          - 'null'
                          required: false
                      required: false
                    settings:
                      type:
                      - object
                      - 'null'
                      properties:
                        line_color:
                          type:
                          - string
                          - 'null'
                          required: false
                        orb_color:
                          type:
                          - string
                          - 'null'
                          required: false
                      required: false
                - type: object
                  properties:
                    acf_fc_layout:
                      type: string
                      required: true
                      pattern: ^TextPageComponent$
                    title:
                      type:
                      - string
                      - 'null'
                      required: true
                    sub:
                      type:
                      - string
                      - 'null'
                      required: false
                    content:
                      type:
                      - string
                      - 'null'
                      required: true
                - type: object
                  properties:
                    acf_fc_layout:
                      type: string
                      required: true
                      pattern: ^ScalaPrediActionComponent$
                    left:
                      type:
                      - object
                      - 'null'
                      properties:
                        title:
                          type:
                          - string
                          - 'null'
                          required: true
                        text:
                          type:
                          - string
                          - 'null'
                          required: true
                      required: false
                    right:
                      type:
                      - object
                      - 'null'
                      properties:
                        title:
                          type:
                          - string
                          - 'null'
                          required: false
                        sections:
                          type:
                          - array
                          - 'null'
                          required: false
                          items:
                            type: object
                            properties:
                              Text:
                                type:
                                - string
                                - 'null'
                                required: false
                          minItems: 3
                          maxItems: 3
                      required: false
                - type: object
                  properties:
                    acf_fc_layout:
                      type: string
                      required: true
                      pattern: ^NewsComponent$
                    ? ''
                    : type:
                      - string
                      - 'null'
                      required: false
                    title:
                      type:
                      - string
                      - 'null'
                      required: true
                    line_offset:
                      type:
                      - number
                      - 'null'
                      required: false
                      minimum: 0
                      maximum: 100
                      default: 0
                    cta_button:
                      type:
                      - object
                      - 'null'
                      required: false
                      properties:
                        title:
                          type: string
                        url:
                          type: string
                          required: true
                          format: uri
                        target:
                          type: string
                - type: object
                  properties:
                    acf_fc_layout:
                      type: string
                      required: true
                      pattern: ^HeroModuleComponent$
                    home_or_page:
                      type:
                      - boolean
                      - 'null'
                      required: false
                      default: false
                    title:
                      type:
                      - string
                      - 'null'
                      required: false
                    title_position:
                      type:
                      - boolean
                      - 'null'
                      required: false
                      default: false
                    title_line_one:
                      type:
                      - string
                      - 'null'
                      required: false
                    title_line_two:
                      type:
                      - string
                      - 'null'
                      required: false
                    image_or_video:
                      type:
                      - boolean
                      - 'null'
                      required: false
                      default: false
                    has_color_overlay:
                      type:
                      - boolean
                      - 'null'
                      required: false
                      default: false
                    custom_loop:
                      type:
                      - boolean
                      - 'null'
                      required: false
                      default: false
                    loop_start:
                      type:
                      - number
                      - 'null'
                      required: false
                    loop_end:
                      type:
                      - number
                      - 'null'
                      required: false
                    background_image:
                      type:
                      - integer
                      - 'null'
                      required: false
                    bg_mobile:
                      type:
                      - integer
                      - 'null'
                      required: false
                    image_position:
                      type:
                      - object
                      - 'null'
                      properties:
                        vertical_position:
                          type:
                          - string
                          - 'null'
                          required: false
                          enum:
                          - top
                          - center
                          - bottom
                        horizontal_position:
                          type:
                          - string
                          - 'null'
                          required: false
                          enum:
                          - left
                          - center
                          - right
                      required: false
                    image_position_mobile:
                      type:
                      - object
                      - 'null'
                      properties:
                        vertical_position_mobile:
                          type:
                          - string
                          - 'null'
                          required: false
                          enum:
                          - top
                          - center
                          - bottom
                        horizontal_position_mobile:
                          type:
                          - string
                          - 'null'
                          required: false
                          enum:
                          - left
                          - center
                          - right
                      required: false
                    bg_video:
                      type:
                      - integer
                      - 'null'
                      required: false
                      mimeTypes: mp4
                    thumbnail:
                      type:
                      - integer
                      - 'null'
                      required: false
                    show_button:
                      type:
                      - boolean
                      - 'null'
                      required: false
                      default: false
                    cta_button:
                      type:
                      - object
                      - 'null'
                      required: false
                      properties:
                        title:
                          type: string
                        url:
                          type: string
                          required: true
                          format: uri
                        target:
                          type: string
                    show_arrow:
                      type:
                      - boolean
                      - 'null'
                      required: false
                      default: true
                    orb:
                      type:
                      - boolean
                      - 'null'
                      required: false
                      default: false
                    orb_color:
                      type:
                      - string
                      - 'null'
                      required: false
                    line_color_start:
                      type:
                      - string
                      - 'null'
                      required: false
                      default: '#F3F0ED'
                    line_color_end:
                      type:
                      - string
                      - 'null'
                      required: false
                      default: '#99b4ff'
                - type: object
                  properties:
                    acf_fc_layout:
                      type: string
                      required: true
                      pattern: ^SpacerComponent$
                    spacer_height:
                      type:
                      - number
                      - 'null'
                      required: false
                      default: 0
                    spacer_height_tablet:
                      type:
                      - number
                      - 'null'
                      required: false
                      default: 0
                    spacer_height_mobile:
                      type:
                      - number
                      - 'null'
                      required: false
                      default: 0
                    background_color:
                      type:
                      - string
                      - 'null'
                      required: true
                      default: rgba(255,255,255,0)
                - type: object
                  properties:
                    acf_fc_layout:
                      type: string
                      required: true
                      pattern: ^TwoBoxComponent$
                    boxes:
                      type:
                      - array
                      - 'null'
                      required: false
                      items:
                        type: object
                        properties:
                          img:
                            type:
                            - integer
                            - 'null'
                            required: true
                          content:
                            type:
                            - object
                            - 'null'
                            properties:
                              title:
                                type:
                                - string
                                - 'null'
                                required: false
                              text:
                                type:
                                - string
                                - 'null'
                                required: false
                            required: false
                          nums_vfx:
                            type:
                            - boolean
                            - 'null'
                            required: false
                            default: false
                          num_color:
                            type:
                            - string
                            - 'null'
                            required: false
                            default: '#da8358'
                      minItems: 2
                      maxItems: 2
                    cta_group:
                      type:
                      - object
                      - 'null'
                      properties:
                        cta:
                          type:
                          - object
                          - 'null'
                          required: false
                          properties:
                            title:
                              type: string
                            url:
                              type: string
                              required: true
                              format: uri
                            target:
                              type: string
                        position:
                          type:
                          - string
                          - 'null'
                          required: false
                          enum:
                          - l
                          - c
                          - r
                      required: false
                    line_sph:
                      type:
                      - object
                      - 'null'
                      properties:
                        line_position:
                          type:
                          - string
                          - 'null'
                          required: false
                          enum:
                          - l
                          - r
                        line_offset:
                          type:
                          - number
                          - 'null'
                          required: false
                          minimum: -50
                          maximum: 50
                          default: 0
                        line_color:
                          type:
                          - string
                          - 'null'
                          required: false
                          enum:
                          - blue
                          - blue_orange
                          - orange
                        sph_color:
                          type:
                          - string
                          - 'null'
                          required: false
                      required: false
                    stacking:
                      type:
                      - object
                      - 'null'
                      properties:
                        top_stack:
                          type:
                          - boolean
                          - 'null'
                          required: false
                          default: false
                        bottom_stack:
                          type:
                          - boolean
                          - 'null'
                          required: false
                          default: false
                      required: false
                    mobile:
                      type:
                      - object
                      - 'null'
                      properties:
                        mobile_t_h:
                          type:
                          - number
                          - 'null'
                          required: false
                          minimum: 300
                          maximum: 600
                          default: 411
                        mobile_b_h:
                          type:
                          - number
                          - 'null'
                          required: false
                          minimum: 300
                          maximum: 600
                          default: 411
                        reverse:
                          type:
                          - boolean
                          - 'null'
                          required: false
                          default: false
                        position:
                          type:
                          - string
                          - 'null'
                          required: false
                          enum:
                          - l
                          - c
                          - r
                        line_position:
                          type:
                          - string
                          - 'null'
                          required: false
                          enum:
                          - l
                          - r
                        end_line:
                          type:
                          - boolean
                          - 'null'
                          required: false
                          default: false
                      required: false
                - type: object
                  properties:
                    acf_fc_layout:
                      type: string
                      required: true
                      pattern: ^CategorizedNewsComponent$
                    ? ''
                    : type:
                      - string
                      - 'null'
                      required: false
                - type: object
                  properties:
                    acf_fc_layout:
                      type: string
                      required: true
                      pattern: ^CirclesTimelineComponent$
                    left:
                      type:
                      - object
                      - 'null'
                      properties:
                        title:
                          type:
                          - string
                          - 'null'
                          required: true
                        sub:
                          type:
                          - string
                          - 'null'
                          required: true
                      required: false
                    text:
                      type:
                      - string
                      - 'null'
                      required: true
                    circles:
                      type:
                      - array
                      - 'null'
                      required: true
                      items:
                        type: object
                        properties:
                          text:
                            type:
                            - string
                            - 'null'
                            required: true
                      minItems: 2
                      maxItems: 4
                - type: object
                  properties:
                    acf_fc_layout:
                      type: string
                      required: true
                      pattern: ^InvestorsComponent$
                    bg_video:
                      type:
                      - integer
                      - 'null'
                      required: true
                      mimeTypes: mp4
                    overlay_color:
                      type:
                      - string
                      - 'null'
                      required: false
                    colorize:
                      type:
                      - boolean
                      - 'null'
                      required: false
                      default: false
                    colorize_color:
                      type:
                      - string
                      - 'null'
                      required: false
                    title:
                      type:
                      - string
                      - 'null'
                      required: true
                    investors:
                      type:
                      - array
                      - 'null'
                      required: true
                      items:
                        type: number
                      minItems: 1
      links:
      - rel: https://api.w.org/action-publish
        title: The current user can publish this post.
        href: https://lifeminetx.com/wp-json/wp/v2/pages/{id}
        targetSchema:
          type: object
          properties:
            status:
              type: string
              enum:
              - publish
              - future
      - rel: https://api.w.org/action-unfiltered-html
        title: The current user can post unfiltered HTML markup and JavaScript.
        href: https://lifeminetx.com/wp-json/wp/v2/pages/{id}
        targetSchema:
          type: object
          properties:
            content:
              raw:
                type: string
      - rel: https://api.w.org/action-assign-author
        title: The current user can change the author on this post.
        href: https://lifeminetx.com/wp-json/wp/v2/pages/{id}
        targetSchema:
          type: object
          properties:
            author:
              type: integer
    WPError:
      type: object
      description: WordPress REST API error envelope (not RFC 9457). Observed live on this host.
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. rest_forbidden.
        message:
          type: string
          description: Human-readable message.
        data:
          type: object
          properties:
            status:
              type: integer
      required:
      - code
      - message
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: WordPress Application Passwords (RFC 7617 Basic). Route /wp/v2/users/{user_id}/application-passwords is registered on this host. Write access only; not issued to the public.
    cookieNonce:
      type: apiKey
      in: header
      name: X-WP-Nonce
      description: WordPress cookie authentication with an X-WP-Nonce header (first-party browser context only). Advertised in Access-Control-Allow-Headers on this host.
externalDocs:
  description: WordPress REST API Handbook (the upstream specification this host implements)
  url: https://developer.wordpress.org/rest-api/
