openapi: 3.2.0
info:
  title: LifeMine Careers API (Greenhouse Job Board) Offices API
  version: v1
  summary: Anonymous read API over LifeMine's open roles, departments and offices.
  description: LifeMine hosts its careers surface on Greenhouse under the board token `lifeminetx` (https://job-boards.greenhouse.io/lifeminetx).
  contact:
    name: LifeMine
    url: https://lifeminetx.com/contact/
  x-derived-from:
  - https://developers.greenhouse.io/job-board.html
  - https://boards-api.greenhouse.io/v1/boards/lifeminetx
  x-derived-on: '2026-08-04'
  x-derived-by: API Evangelist enrichment pipeline (0-working/pipeline-enrich.md)
  x-not-a-provider-published-spec: true
  x-hosted-by: Greenhouse Software, Inc.
servers:
- url: https://boards-api.greenhouse.io/v1/boards/lifeminetx
  description: LifeMine's Greenhouse job board (board token lifeminetx)
security: []
tags:
- name: Offices
  description: Office / location taxonomy.
paths:
  /offices:
    get:
      operationId: listOffices
      summary: List offices
      description: 'The office taxonomy with each office''s departments. Three observed on 2026-08-04: Basel CH, Gloucester MA, Watertown MA.'
      tags:
      - Offices
      parameters:
      - $ref: '#/components/parameters/RenderAs'
      responses:
        '200':
          description: Office list
          content:
            application/json:
              schema:
                type: object
                properties:
                  offices:
                    type: array
                    items:
                      $ref: '#/components/schemas/Office'
  /offices/{office_id}:
    parameters:
    - name: office_id
      in: path
      required: true
      schema:
        type: integer
        format: int64
      example: 4048711002
    get:
      operationId: getOffice
      summary: Get one office
      tags:
      - Offices
      parameters:
      - $ref: '#/components/parameters/RenderAs'
      responses:
        '200':
          description: The office
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Office'
        '404':
          description: Office not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Job:
      type: object
      description: A published role as returned by listJobs.
      properties:
        id:
          type: integer
          format: int64
        internal_job_id:
          type: integer
          format: int64
        title:
          type: string
        absolute_url:
          type: string
          format: uri
          description: Public application URL on job-boards.greenhouse.io.
        company_name:
          type: string
        location:
          $ref: '#/components/schemas/Location'
        requisition_id:
          type:
          - string
          - 'null'
        language:
          type:
          - string
          - 'null'
        first_published:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        application_deadline:
          type:
          - string
          - 'null'
          format: date-time
        metadata:
          type:
          - array
          - 'null'
          items:
            type: object
        data_compliance:
          type: array
          description: Per-regime data-compliance settings (GDPR observed on this board).
          items:
            $ref: '#/components/schemas/DataCompliance'
        content:
          type: string
          description: HTML job description. Present only when `content=true`.
    Error:
      type: object
      description: Greenhouse error envelope.
      properties:
        error:
          type: string
    Office:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        location:
          type:
          - string
          - 'null'
        parent_id:
          type:
          - integer
          - 'null'
          format: int64
        child_ids:
          type: array
          items:
            type: integer
            format: int64
        departments:
          type: array
          items:
            $ref: '#/components/schemas/Department'
    DataCompliance:
      type: object
      properties:
        type:
          type: string
          description: Compliance regime, e.g. gdpr.
        requires_consent:
          type: boolean
        requires_processing_consent:
          type: boolean
        requires_retention_consent:
          type: boolean
        retention_period:
          type:
          - integer
          - 'null'
        demographic_data_consent_applies:
          type: boolean
    Department:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        parent_id:
          type:
          - integer
          - 'null'
          format: int64
        child_ids:
          type: array
          items:
            type: integer
            format: int64
        children:
          type: array
          description: Present when `render_as=tree`.
          items:
            $ref: '#/components/schemas/Department'
        jobs:
          type: array
          items:
            $ref: '#/components/schemas/Job'
    Location:
      type: object
      properties:
        name:
          type: string
          description: Free-text location, e.g. "Watertown, Massachusetts, United States".
  parameters:
    RenderAs:
      name: render_as
      in: query
      required: false
      description: Return the taxonomy flat (`list`) or nested (`tree`).
      schema:
        type: string
        enum:
        - list
        - tree
        default: list
externalDocs:
  description: Greenhouse Job Board API documentation
  url: https://developers.greenhouse.io/job-board.html
