openapi: 3.2.0
info:
  title: LifeMine Careers API (Greenhouse Job Board) Departments API
  version: v1
  summary: Anonymous read API over LifeMine's open roles, departments and offices.
  description: 'LifeMine hosts its careers surface on Greenhouse under the board token `lifeminetx` (https://job-boards.greenhouse.io/lifeminetx). Greenhouse exposes every job board as a public, unauthenticated JSON API, so LifeMine''s open roles, departments, offices and application questions are machine-readable without credentials.


    This document was DERIVED by API Evangelist from two real sources: (a) the endpoint and query-parameter surface published in the Greenhouse Job Board API documentation (https://developers.greenhouse.io/job-board.html), and (b) live responses fetched from LifeMine''s own board on 2026-08-04 — every schema property below was observed in an actual payload from `boards-api.greenhouse.io/v1/boards/lifeminetx`. It is NOT a specification published by LifeMine or by Greenhouse.


    Observed on 2026-08-04: 2 open roles (both Watertown, Massachusetts), 32 departments, 3 offices (Basel CH, Gloucester MA, Watertown MA), 0 sections. Job objects carry GDPR `data_compliance` blocks and AI-disclosure fields (`ai_disclaimer`, `include_ai_disclaimer`, `ai_opt_out_request_url`).

    '
  contact:
    name: LifeMine
    url: https://lifeminetx.com/contact/
  x-derived-from:
  - https://developers.greenhouse.io/job-board.html
  - https://boards-api.greenhouse.io/v1/boards/lifeminetx
  x-derived-on: '2026-08-04'
  x-derived-by: API Evangelist enrichment pipeline (0-working/pipeline-enrich.md)
  x-not-a-provider-published-spec: true
  x-hosted-by: Greenhouse Software, Inc.
servers:
- url: https://boards-api.greenhouse.io/v1/boards/lifeminetx
  description: LifeMine's Greenhouse job board (board token lifeminetx)
security: []
tags:
- name: departments
  description: Department taxonomy.
paths:
  /departments:
    get:
      operationId: listDepartments
      summary: List departments
      description: The department taxonomy, with the jobs attached to each. 32 departments observed.
      tags:
      - departments
      parameters:
      - $ref: '#/components/parameters/RenderAs'
      responses:
        '200':
          description: Department list
          content:
            application/json:
              schema:
                type: object
                properties:
                  departments:
                    type: array
                    items:
                      $ref: '#/components/schemas/Department'
  /departments/{department_id}:
    parameters:
    - name: department_id
      in: path
      required: true
      schema:
        type: integer
        format: int64
      example: 4048798002
    get:
      operationId: getDepartment
      summary: Get one department
      tags:
      - departments
      parameters:
      - $ref: '#/components/parameters/RenderAs'
      responses:
        '200':
          description: The department
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Department'
        '404':
          description: Department not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    DataCompliance:
      type: object
      properties:
        type:
          type: string
          description: Compliance regime, e.g. gdpr.
        requires_consent:
          type: boolean
        requires_processing_consent:
          type: boolean
        requires_retention_consent:
          type: boolean
        retention_period:
          type:
          - integer
          - 'null'
        demographic_data_consent_applies:
          type: boolean
    Job:
      type: object
      description: A published role as returned by listJobs.
      properties:
        id:
          type: integer
          format: int64
        internal_job_id:
          type: integer
          format: int64
        title:
          type: string
        absolute_url:
          type: string
          format: uri
          description: Public application URL on job-boards.greenhouse.io.
        company_name:
          type: string
        location:
          $ref: '#/components/schemas/Location'
        requisition_id:
          type:
          - string
          - 'null'
        language:
          type:
          - string
          - 'null'
        first_published:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        application_deadline:
          type:
          - string
          - 'null'
          format: date-time
        metadata:
          type:
          - array
          - 'null'
          items:
            type: object
        data_compliance:
          type: array
          description: Per-regime data-compliance settings (GDPR observed on this board).
          items:
            $ref: '#/components/schemas/DataCompliance'
        content:
          type: string
          description: HTML job description. Present only when `content=true`.
    Location:
      type: object
      properties:
        name:
          type: string
          description: Free-text location, e.g. "Watertown, Massachusetts, United States".
    Error:
      type: object
      description: Greenhouse error envelope.
      properties:
        error:
          type: string
    Department:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        parent_id:
          type:
          - integer
          - 'null'
          format: int64
        child_ids:
          type: array
          items:
            type: integer
            format: int64
        children:
          type: array
          description: Present when `render_as=tree`.
          items:
            $ref: '#/components/schemas/Department'
        jobs:
          type: array
          items:
            $ref: '#/components/schemas/Job'
  parameters:
    RenderAs:
      name: render_as
      in: query
      required: false
      description: Return the taxonomy flat (`list`) or nested (`tree`).
      schema:
        type: string
        enum:
        - list
        - tree
        default: list
externalDocs:
  description: Greenhouse Job Board API documentation
  url: https://developers.greenhouse.io/job-board.html
