openapi: 3.1.0
info:
  title: LifeMine Careers API (Greenhouse Job Board)
  version: v1
  summary: Anonymous read API over LifeMine's open roles, departments and offices.
  description: >
    LifeMine hosts its careers surface on Greenhouse under the board token `lifeminetx`
    (https://job-boards.greenhouse.io/lifeminetx). Greenhouse exposes every job board as a public,
    unauthenticated JSON API, so LifeMine's open roles, departments, offices and application
    questions are machine-readable without credentials.


    This document was DERIVED by API Evangelist from two real sources: (a) the endpoint and
    query-parameter surface published in the Greenhouse Job Board API documentation
    (https://developers.greenhouse.io/job-board.html), and (b) live responses fetched from
    LifeMine's own board on 2026-08-04 — every schema property below was observed in an actual
    payload from `boards-api.greenhouse.io/v1/boards/lifeminetx`. It is NOT a specification
    published by LifeMine or by Greenhouse.


    Observed on 2026-08-04: 2 open roles (both Watertown, Massachusetts), 32 departments,
    3 offices (Basel CH, Gloucester MA, Watertown MA), 0 sections. Job objects carry GDPR
    `data_compliance` blocks and AI-disclosure fields (`ai_disclaimer`, `include_ai_disclaimer`,
    `ai_opt_out_request_url`).
  contact:
    name: LifeMine
    url: https://lifeminetx.com/contact/
  x-derived-from:
  - https://developers.greenhouse.io/job-board.html
  - https://boards-api.greenhouse.io/v1/boards/lifeminetx
  x-derived-on: '2026-08-04'
  x-derived-by: API Evangelist enrichment pipeline (0-working/pipeline-enrich.md)
  x-not-a-provider-published-spec: true
  x-hosted-by: Greenhouse Software, Inc.
servers:
- url: https://boards-api.greenhouse.io/v1/boards/lifeminetx
  description: LifeMine's Greenhouse job board (board token lifeminetx)
externalDocs:
  description: Greenhouse Job Board API documentation
  url: https://developers.greenhouse.io/job-board.html
security: []
tags:
- name: board
  description: Board-level metadata.
- name: jobs
  description: Open roles.
- name: departments
  description: Department taxonomy.
- name: offices
  description: Office / location taxonomy.
- name: sections
  description: Board sections (empty on this board).
- name: education
  description: Greenhouse education reference data used by application forms.
paths:
  /:
    get:
      operationId: getBoard
      summary: Get the job board
      description: Board name and the board's marketing content block.
      tags: [board]
      responses:
        '200':
          description: The board
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Board'
        '404':
          description: Board token not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jobs:
    get:
      operationId: listJobs
      summary: List open jobs
      description: >
        All currently published roles. `meta.total` carries the count (2 when observed on
        2026-08-04). Pass `content=true` to include the full HTML job description on each row.
      tags: [jobs]
      parameters:
      - name: content
        in: query
        required: false
        description: Include the full HTML job description (`content`) on every job.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Job list
          content:
            application/json:
              schema:
                type: object
                properties:
                  jobs:
                    type: array
                    items:
                      $ref: '#/components/schemas/Job'
                  meta:
                    type: object
                    properties:
                      total:
                        type: integer
                        description: Total number of open roles.
  /jobs/{job_id}:
    parameters:
    - name: job_id
      in: path
      required: true
      description: Greenhouse job id (from listJobs `id`).
      schema:
        type: integer
        format: int64
      example: 8587930002
    get:
      operationId: getJob
      summary: Get one job
      description: >
        A single role, including the HTML `content`, `departments`, `offices`, GDPR
        `data_compliance` and — with `questions=true` — the application form questions.
      tags: [jobs]
      parameters:
      - name: questions
        in: query
        required: false
        description: Include the application-form `questions` array (8 questions observed on this board).
        schema:
          type: boolean
          default: false
      - name: pay_transparency
        in: query
        required: false
        description: Include pay-transparency compliance data where the role is subject to it.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: The job
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobDetail'
        '404':
          description: Job not found or no longer published
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /departments:
    get:
      operationId: listDepartments
      summary: List departments
      description: The department taxonomy, with the jobs attached to each. 32 departments observed.
      tags: [departments]
      parameters:
      - $ref: '#/components/parameters/RenderAs'
      responses:
        '200':
          description: Department list
          content:
            application/json:
              schema:
                type: object
                properties:
                  departments:
                    type: array
                    items:
                      $ref: '#/components/schemas/Department'
  /departments/{department_id}:
    parameters:
    - name: department_id
      in: path
      required: true
      schema:
        type: integer
        format: int64
      example: 4048798002
    get:
      operationId: getDepartment
      summary: Get one department
      tags: [departments]
      parameters:
      - $ref: '#/components/parameters/RenderAs'
      responses:
        '200':
          description: The department
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Department'
        '404':
          description: Department not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /offices:
    get:
      operationId: listOffices
      summary: List offices
      description: >
        The office taxonomy with each office's departments. Three observed on 2026-08-04:
        Basel CH, Gloucester MA, Watertown MA.
      tags: [offices]
      parameters:
      - $ref: '#/components/parameters/RenderAs'
      responses:
        '200':
          description: Office list
          content:
            application/json:
              schema:
                type: object
                properties:
                  offices:
                    type: array
                    items:
                      $ref: '#/components/schemas/Office'
  /offices/{office_id}:
    parameters:
    - name: office_id
      in: path
      required: true
      schema:
        type: integer
        format: int64
      example: 4048711002
    get:
      operationId: getOffice
      summary: Get one office
      tags: [offices]
      parameters:
      - $ref: '#/components/parameters/RenderAs'
      responses:
        '200':
          description: The office
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Office'
        '404':
          description: Office not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /sections:
    get:
      operationId: listSections
      summary: List board sections
      description: 'Board sections. Empty on LifeMine''s board when observed: `{"sections": []}`.'
      tags: [sections]
      responses:
        '200':
          description: Section list
          content:
            application/json:
              schema:
                type: object
                properties:
                  sections:
                    type: array
                    items:
                      $ref: '#/components/schemas/Section'
  /sections/{section_id}:
    parameters:
    - name: section_id
      in: path
      required: true
      schema:
        type: integer
        format: int64
    get:
      operationId: getSection
      summary: Get one section
      tags: [sections]
      responses:
        '200':
          description: The section
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Section'
        '404':
          description: Section not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /education/degrees:
    get:
      operationId: listEducationDegrees
      summary: List degree reference data
      description: Greenhouse's degree picklist used by the application form.
      tags: [education]
      parameters:
      - $ref: '#/components/parameters/Term'
      - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: Degree items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EducationItems'
  /education/disciplines:
    get:
      operationId: listEducationDisciplines
      summary: List discipline reference data
      tags: [education]
      parameters:
      - $ref: '#/components/parameters/Term'
      - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: Discipline items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EducationItems'
  /education/schools:
    get:
      operationId: listEducationSchools
      summary: List school reference data
      tags: [education]
      parameters:
      - $ref: '#/components/parameters/Term'
      - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: School items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EducationItems'
components:
  parameters:
    RenderAs:
      name: render_as
      in: query
      required: false
      description: Return the taxonomy flat (`list`) or nested (`tree`).
      schema:
        type: string
        enum: [list, tree]
        default: list
    Term:
      name: term
      in: query
      required: false
      description: Type-ahead filter term.
      schema:
        type: string
    Page:
      name: page
      in: query
      required: false
      description: Page of reference items.
      schema:
        type: string
  schemas:
    Board:
      type: object
      description: Board-level metadata.
      properties:
        name:
          type: string
          description: Board display name (observed value "LifeMine").
        content:
          type: string
          description: HTML-escaped marketing block shown at the top of the board.
    Job:
      type: object
      description: A published role as returned by listJobs.
      properties:
        id:
          type: integer
          format: int64
        internal_job_id:
          type: integer
          format: int64
        title:
          type: string
        absolute_url:
          type: string
          format: uri
          description: Public application URL on job-boards.greenhouse.io.
        company_name:
          type: string
        location:
          $ref: '#/components/schemas/Location'
        requisition_id:
          type: [string, 'null']
        language:
          type: [string, 'null']
        first_published:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        application_deadline:
          type: [string, 'null']
          format: date-time
        metadata:
          type: [array, 'null']
          items:
            type: object
        data_compliance:
          type: array
          description: Per-regime data-compliance settings (GDPR observed on this board).
          items:
            $ref: '#/components/schemas/DataCompliance'
        content:
          type: string
          description: HTML job description. Present only when `content=true`.
    JobDetail:
      allOf:
      - $ref: '#/components/schemas/Job'
      - type: object
        properties:
          departments:
            type: array
            items:
              $ref: '#/components/schemas/Department'
          offices:
            type: array
            items:
              $ref: '#/components/schemas/Office'
          questions:
            type: array
            description: Application-form questions. Present only when `questions=true`.
            items:
              $ref: '#/components/schemas/Question'
          location_questions:
            type: array
            items:
              $ref: '#/components/schemas/Question'
          demographic_questions:
            type: [object, 'null']
          compliance:
            type: [array, 'null']
          ai_disclaimer:
            type: [string, 'null']
            description: AI-usage disclaimer text shown to applicants.
          include_ai_disclaimer:
            type: boolean
          ai_opt_out_request_url:
            type: [string, 'null']
            format: uri
            description: URL an applicant uses to opt out of AI-assisted evaluation.
    Department:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        parent_id:
          type: [integer, 'null']
          format: int64
        child_ids:
          type: array
          items:
            type: integer
            format: int64
        children:
          type: array
          description: Present when `render_as=tree`.
          items:
            $ref: '#/components/schemas/Department'
        jobs:
          type: array
          items:
            $ref: '#/components/schemas/Job'
    Office:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        location:
          type: [string, 'null']
        parent_id:
          type: [integer, 'null']
          format: int64
        child_ids:
          type: array
          items:
            type: integer
            format: int64
        departments:
          type: array
          items:
            $ref: '#/components/schemas/Department'
    Section:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        jobs:
          type: array
          items:
            $ref: '#/components/schemas/Job'
    Location:
      type: object
      properties:
        name:
          type: string
          description: Free-text location, e.g. "Watertown, Massachusetts, United States".
    DataCompliance:
      type: object
      properties:
        type:
          type: string
          description: Compliance regime, e.g. gdpr.
        requires_consent:
          type: boolean
        requires_processing_consent:
          type: boolean
        requires_retention_consent:
          type: boolean
        retention_period:
          type: [integer, 'null']
        demographic_data_consent_applies:
          type: boolean
    Question:
      type: object
      properties:
        label:
          type: string
        required:
          type: boolean
        fields:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              type:
                type: string
              values:
                type: array
                items:
                  type: object
    EducationItems:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
                format: int64
              text:
                type: string
    Error:
      type: object
      description: Greenhouse error envelope.
      properties:
        error:
          type: string
